.swiper {
    width: 100%;
    height: 100%;
}


.swiper_slide {
    font-size: 18px;
    background: #fff;
    margin-right: 0px !important;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider_image {
    width: 100%;
    aspect-ratio: 5/2;
}

.banner_content {
    color: #fff;
}


.banner_content p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner_content button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.banner_content button:hover {
    background-color: #000;
    color: #fff;
}

.ratings {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
}

.rating {
    display: flex;
    font-size: 20px;
    color: #fff;
    margin-right: 5px;
}

.rating ul {
    margin: 0;
    padding: 0;
}

.rating ul li {
    display: inline;
    padding: 5px;
}

.rating span {
    margin-left: 10px;
}

.starring,
.starring_title {
    color: red;
    font-size: 20px;
    font-weight: 500;
}

.starring .star_name {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
}

.description {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

.buttons button:hover {
    background-color: #000;
    color: #fff;
}

.buttons button:last-child {
    background-color: #000;
    color: #fff;
}

.play_now_div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.play_now_div h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    /*text space between */
    letter-spacing: 4px;
    margin: 0;
}

.play_now_div .video_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.play_now_div .video_icon svg {
    width: 60px;
    height: 60px;
    fill: #fff;
}

.banner_content {
    padding: 4rem !important;
}

.main_banner_row {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    /* aspect-ratio: 5; */
    /* height: calc(100vh - 80px); */
}

@media screen and (min-width: 1200px) {
    .main_banner_row {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0px;
        height: 600px;
    }

    .banner_content .movie_title {
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .banner_content_right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .play_now_div h1 {
        font-size: 31px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        /*text space between */
        letter-spacing: 2px;
        margin: 0;
    }



}


/* screen 992 -> 1199 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .banner_content .movie_title {
        font-size: 60px;
    }

    .banner_content_right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner_content p {
        font-size: 17px;
    }

    .banner_content button {
        font-size: 15px;
    }

    .rating {
        font-size: 15px;
    }

    .description {
        font-size: 15px;
    }

    .buttons button {
        font-size: 15px;
    }

    .play_now_div .video_icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .play_now_div h1 {
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .banner_content .movie_title {
        font-size: 40px;
    }

    .banner_content_right {
        display: none;
    }

    .banner_content p {
        font-size: 15px;
    }

    .banner_content button {
        font-size: 15px;
    }

    .rating {
        font-size: 15px;
    }

    .description {
        font-size: 15px;
    }

    .buttons button {
        font-size: 15px;
    }

    .video_duration {
        font-size: 13px;
    }

    .starring,
    .starring_title {
        color: red;
        font-size: 15px;
        font-weight: 500;
    }

    .starring .star_name {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        margin-right: 10px;
    }

    .play_now_div .video_icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .play_now_div h1 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 0;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .banner_content .movie_title {
        font-size: 33px;
    }

    .banner_content_right {
        display: none;
    }

    .banner_content p {
        font-size: 15px;
    }

    .banner_content button {
        font-size: 15px;
    }

    .description {
        font-size: 15px;
    }

    .buttons button {
        font-size: 15px;
    }

    .video_duration {
        font-size: 13px;
    }

    .starring,
    .starring_title {
        color: red;
        font-size: 15px;
        font-weight: 500;
    }

    .starring .star_name {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        margin-right: 10px;
    }

    .play_now_div .video_icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .play_now_div h1 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 0;
    }
}

@media screen and (max-width: 575px) {
    .banner_content {
        padding: 1rem !important;
    }

    
    .banner_content_right {
        display: none;
    }

    .banner_content .movie_title {
        font-size: 30px;
    }

    .banner_content p {
        font-size: 15px;
    }

    .banner_content button {
        font-size: 15px;
    }

    .description {
        font-size: 15px;
    }

    .buttons button {
        font-size: 15px;
    }

    .video_duration {
        font-size: 13px;
    }

    .starring,
    .starring_title {
        color: red;
        font-size: 15px;
        font-weight: 500;
    }

    .starring .star_name {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        margin-right: 10px;
    }

    .play_now_div .video_icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .play_now_div h1 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 0;
    }
}

@media screen and (max-width: 393px) {
    .ratings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}