

@media screen and (min-width: 475px) and (max-width: 768px) {
    .profile_icon {
        display: contents !important;
    }

    .profile_icon svg {
        width: 15px !important;
        cursor: pointer;
        margin-right: 16px !important;
        color: orange
    }
}

@media screen and (min-width: 767px) {
    .profile_icon {
        display: contents
    }
}