.play_now_div {
    display: flex;
    align-items: center;
    width: 148px;
    background: #BF000A;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.play_now_div .play_now_label {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.play_now_div .video_icon {
    width: 25px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 5px;
}

.play_now_div .play_now_label a:hover{
    color: #fff;
}



@media screen and (max-width: 991px) {
    .play_now_div {
        width: 140px;
    }
    .play_now_div .play_now_label {
        font-size: 0.8em;
    }
    .play_now_div .video_icon {
        width: 20px;
        height: 25px;
    }
}