#app {
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper_slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin-right: 25px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

.append_buttons {
    text-align: center;
    margin-top: 20px;
}

.append_buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

.movie_content {
    display: flex;
    align-items: flex-end;
    color: #fff;
    padding: 20px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    height: -webkit-fill-available;
}

.movie_content h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.movie_content p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.movie_length {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.play_button button {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.play_button button:hover {
    background-color: #000;
    color: #fff;
}

.latest_movies_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.latest_movies_header h1 {
    font-size: 30px;
    font-weight: 700;
}

.latest_movies_header button {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.latest_movies_header button:hover {
    background-color: #000;
    color: #fff;
}


.latest_movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #141414;
    width: 100%;
    margin-bottom: 60px;
}

.view_all{
    font-weight: bold;
}

/* screen < 575 */
@media (max-width: 575px) {
    .latest_movies_header h1 {
        font-size: 18px;
        font-weight: 700;
    }

    .latest_movies_header button {
        padding: 5px 10px;
        font-size: 12px;
    }
}