.large_device {
    display: none;
}

.menu_part ul {
    margin: 0;
    padding: 0;
}

.menu_part li {
    list-style-type: none;
    display: inline;
    padding: 12px;
    font-size: 17px;
}

.menu_part li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: lighter;
}

.submenu ul {
    margin: 0;
    padding: 0;
}

.profile_part {
    text-align: end;
}

.profile_part svg {
    width: 20px;
    cursor: pointer;
    margin-right: 25px;
    color: orange
}

.profile_part_sm_btn {
    display: none;
}

.logo_part {
    text-align: center;
}

#header_container {
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
    background: rgba(20, 20, 20, 0.5) !important;
    backdrop-filter: blur(0.625em);
}

/* screen 1200 >  */
@media screen and (min-width: 1200px) {

    .large_device {
        display: flex
    }

    .small_device {
        display: none;
    }



    .menu_part {
        text-align: center;
    }

    .menu_part ul {
        margin: 0;
        padding: 0;
    }

    .menu_part li {
        padding: 10px;
    }

    .profile_part {
        text-align: end;
    }
}

/* screen 1192 -> 1199 */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    .large_device {
        display: flex
    }

    .small_device {
        display: none;
    }



    .menu_part {
        text-align: center;
    }

    .menu_part ul {
        margin: 0;
        padding: 0;
    }

    .menu_part li {
        padding: 10px;
    }

    .profile_part {
        text-align: end;
    }
}

/* screen 768 -> 991 */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .large_device {
        display: none;
    }

    .submenu {
        background-color: #fff;
        color: #000;
        padding: 10px;
        position: absolute;
        top: 85px;
        left: 0;
        z-index: 2;
    }

    .submenu li {
        list-style-type: none;
        display: block;
        padding: 10px;
        font-size: 17px;
    }

    .submenu li a {
        text-decoration: none;
        color: #000 !important;
        cursor: pointer;
    }

    .submenu li a:hover {
        color: red;
        background-color: #000;
    }

    .submenu li:hover .submenu {
        display: block;
    }

    .logo_part {
        text-align: center;
        /* width: 50px; */
    }

    .logo_part img {
        width: 100%;
    }

    .menu_part {
        text-align: center;
    }

    .menu_part ul {
        margin: 0;
        padding: 0;
    }

    .menu_part li {
        padding: 10px;
    }

    .profile_part {
        text-align: end;
    }
}

/* screen 576 -> 767 */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 100%;
        /* max-width: 100%; */
    }

    .large_device {
        display: none;
    }

    .submenu {
        background-color: #fff;
        color: #000;
        padding: 10px;
        position: absolute;
        top: 85px;
        left: 0;
        z-index: 2;
    }

    .submenu li {
        list-style-type: none;
        display: block;
        padding: 10px;
        font-size: 17px;
    }

    .submenu li a {
        text-decoration: none;
        color: #000 !important;
        cursor: pointer;
    }

    .submenu li a:hover {
        color: red;
        background-color: #000;
    }

    .submenu li:hover .submenu {
        display: block;
    }

    .logo_part {
        text-align: center;
        /* width: 50px; */
    }

    .logo_part img {
        width: 100%;
    }

    .menu_part {
        text-align: center;
    }

    .menu_part ul {
        margin: 0;
        padding: 0;
    }

    .menu_part li {
        padding: 10px;
    }

    .profile_part {
        text-align: end;
    }
}

/* screen 0 -> 575 */
@media screen and (max-width: 575px) {

    .large_device {
        display: none;
    }

    .submenu {
        background-color: #fff;
        color: #000;
        padding: 10px;
        position: absolute;
        top: 85px;
        left: 0;
        z-index: 2;
    }

    .submenu li {
        list-style-type: none;
        display: block;
        padding: 10px;
        font-size: 17px;
    }

    .submenu li a {
        text-decoration: none;
        color: #000 !important;
        cursor: pointer;
    }

    .submenu li a:hover {
        color: red;
        background-color: #000;
    }

    .submenu li:hover .submenu {
        display: block;
    }

    .logo_part {
        text-align: center;
        /* width: 50px; */
    }

    .logo_part img {
        width: 100%;
    }

    .menu_part {
        text-align: center;
    }

    .menu_part ul {
        margin: 0;
        padding: 0;
    }

    .menu_part li {
        padding: 10px;
    }

    .profile_part {
        text-align: end;
    }
}


@media screen and (min-width: 475px) {
    .profile_part_small_device {
        display: none !important;
    }
}



@media screen and (max-width: 475px) {
    .profile_part {
        display: none;
    }

    .profile_part_sm_btn {
        display: block;
        text-align: end;
    }

    .search_not_default {
        display: none;
    }

    .profile_part_sm_btn span {
        font-size: 24px;
        cursor: pointer;
    }

    .profile_part_small_device {
        position: absolute;
        text-align: end;
        top: 84px;
        z-index: 2;
        background: #474242;
        height: 55px;
        padding: 10px 0px 10px 0px;
        /* display: flex !important;
        align-items: center;
        justify-content: space-between; */
    }

    .profile_part_small_device svg {
        width: 14px;
        cursor: pointer;
        margin-right: 12px;
        color: orange;
    }

}