.footer_section{
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

.footer_section ul{
    margin: 0;
    padding: 0;
}

.footer_section__left{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.footer_section__left h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer_section__left p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer_section__center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.footer_section__center h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer_section__center ul li{
    list-style: none;
    margin-bottom: 10px;
}

.footer_section__right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.footer_section__right h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer_section__right ul li{
    list-style: none;
    margin-bottom: 10px;
}

